.about_title, .about_pronouns {
    display: inline;
    vertical-align: top;
}

.about_title::before { content: none; }

.aside_social-links { padding: 0; }

.aside_social-links li { display: inline-block; }

.aside_social-links li::marker { content: none; }