.aboutTitle, .aboutPronouns {
    display: inline;
    vertical-align: top;
}

.aboutPronouns { font-style: italic; }
.aboutPronouns::before { content: none; }

.aboutTitle::before { content: none; }

.asideSocialLinks { padding: 0; }

.asideSocialLinks li { display: inline-block; }

.asideSocialLinks li::marker { content: none; }