/* Main Menu */
.mainMenuNav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0.25rem 0;
}

.mainMenuNav li {
    margin-left: 2.5rem;
    text-transform: lowercase;
}

.mainMenuNav li::marker {
    content: "./";
}