.pageTitle {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    color: var(--bg);
}

.pageTitle::before { content: none; }

.pageTitle-inner {
    display: block;
    background: var(--green);
    padding: 0.25rem;
}

a.pageTitle-inner:link, a.pageTitle-inner:visited {
    color: inherit;
    text-decoration: inherit;
}

a.pageTitle-inner:hover, a.pageTitle-inner:active { background: var(--bright-green); }

.pageTitle-inner::before {
    content: "[";
    color: var(--bg);
}

.pageTitle-inner::after {
    content: "] $";
    color: var(--bg);
}